.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    height: 80%;

    margin-right: 50%;

} 

/*
Controls the input text and the input box
*/
.row-inline {
    
    height: 20%;
    width: 100%;
    font-size: 300%;
    margin-top: 20px;
}

input {
    width: 20%;
    height: 50%;
    margin: 20px;

    border-radius: 0px;
    border-style: none;
    border-radius: 10px;
    font-size:100% ;
    -webkit-appearance: none;
    -moz-appearance: textfield;

    background-color: rgb(231, 199, 156);
}
.text-choice {
    display: flex;
    align-content: center;
    text-align: center;
    font-size: 300%;

    height: 10%;
    width: 100%;
}

.text-buttons {

    display: flex;
    flex-direction: row;

    height: 30%;
    width: 100%;
}

.opt0, .opt1, .opt2 {
    width: 30%;
    margin: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(231, 199, 156);
    border-radius: 15px;
    cursor: pointer;

}

.opt0:focus, .opt1:focus, .opt2:focus {
    width: 30%;
    margin: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(187, 151, 103);
    border-radius: 15px;
    cursor: pointer;
}

.monkey-button {
    
}




