.menu-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.text-options {
    display: flex;
    align-content: center;
    text-align: center;
}

.opt1, .opt2, .opt3 {
    margin: 10px;
}